.chat-area {
	background-color: #ffffff;
	flex: 1;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin-left: 25%; 
}

.chat-area-header {
	background-color: blueviolet;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background-color: #fff;
	padding: 5px 5px;

	font-size: 45px;
	-webkit-box-shadow: 0px 13px 16px -10px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 13px 16px -10px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 13px 16px -10px rgba(0, 0, 0, 0.23);
	z-index: 10;
}
.chat-area-header-text {
	width: 80%;
	display: flex;
	gap: 10%;
	align-items: center;
	margin-left: 35px;
	justify-content: space-between;
}
.chat-area-header-buttons {
	width: 20%;
	display: flex;
	gap: 15%;
	align-items: center;
	justify-content: center;
}
.chat-area-header-button {
	width: 20%;
	height: 20%;
}
.chat-area-messages {
	background-color: #fff;
	flex: 1;
}
.text-input-area {
	background-color: #f1f2f3;
	height: 7%;
	padding: 10px 10px;
	margin: 10px;
	border-radius: 22px;
	display: flex;
	justify-content: space-between;
}
.chat-area-type-area {
	outline-width: 0;
	border: none;
	margin-left: 5%;
	font-size: 1.25rem;
	color: #000;
	background-color: #f1f2f3;
}
.chat-area-send-button-container{
    
}
.chat-area-send-button {
	width: 50px;
	height: 100%;
}
