.profile-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff; 
    height: 100%;
    width: 100%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem; 
    border-top-left-radius: 1.5rem; 
    border-bottom-left-radius: 1.5rem; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 100; 
    visibility: hidden; 
    font-family: 'Montserrat', sans-serif;
}

.close-button {
    color: #9ca3af; 
    font-weight: bold; 
    align-self: flex-end; 
    background: none;
    border: none;
    cursor: pointer;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%; 
}

.profile-picture-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-bottom: 1rem; 
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.profile-name {
    color: #4b5563; 
    font-size: 1.5rem; 
    font-weight: 600; 
    text-align: center;
}

.profile-status {
    color: #6b7280; 
    margin-top: 0.5rem; 
}

.profile-details { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-detail-item {
    color: #4b5563; 
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.75rem;
    text-align: center;
}
.profile-media {
    margin-top: 20px;
}

.profile-media-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.media-buttons {
    display: flex;
    justify-content: space-around;
    gap: 3rem; 
    padding: 0rem 1.5rem;
    
}

.media-button {
    background: none;
    border: none;
    cursor: pointer;
    flex: 1;
    padding: 15px;
    max-width: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .profile-picture-container {
        width: 125px;
        height: 125px;
    }

    .profile-name {
        font-size: 1.25rem; 
    }

    .profile-detail-item {
        font-size: 1rem; 
    }
    .media-buttons {
        flex-direction: column;
        align-items: center;
    }

    .media-button {
        max-width: 80%;
        margin-bottom: 10px; 
    }
}
