.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3b82f6;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem; 
    border-top-right-radius: 1.5rem; 
    border-bottom-right-radius: 1.5rem; 
    
}


.contacts-container {
    margin-top: 2.5rem; 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.contact-item {
    display: flex;
    align-items: center;
    color: #e5e7eb; 
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem; 
    margin-left: 2.5rem; 
    cursor: pointer;
    position: relative;
}

.contact-image-container {
    position: relative;
}

.contact-image {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
}

.contact-active-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.75rem; 
    height: 0.75rem;
    background-color: #10b981; 
    border-radius: 9999px; 
}

.contact-name {
    margin-left: 1rem;
}

.logout-button {
    width: 50%; 
    background-color: #60a5fa; 
    color: #e5e7eb; 
    border-radius: 1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    margin-top: auto;
    margin-bottom: 1rem; 
    @media (min-width: 768px) {
        margin-bottom: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
    outline: none;
    font-weight: bold; 
    font-size: 1.125rem; 
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-bar-title {
    color: #ffffff; 
    font-size: 1.875rem; 
    font-weight: bold;
    margin-right: 1.5rem;
    margin-left: 0.5rem; 
}

.menu-bar-icon {
    color: #ffffff; 
    font-size: 1.5rem; 
    margin-right: 1rem; 
    margin-left: auto;
    cursor: pointer;
}

.search-bar {
    margin-top: 1rem; 
    margin-left: 1rem;
}

.search-input {
    width: 100%; 
    max-width: 20rem; 
    background-color: #60a5fa; 
    border: 1px solid #ffffff; 
    border-radius: 1rem; 
    padding: 0.75rem 1.25rem; 
    outline: none;
    color: white; 
    font-weight: bold;
}

.search-input::placeholder {
    color: #e5e7eb; 
    font-weight: bold; 
}

.user-profile-container {
    margin-left: 20px; 
}

.user-profile-image {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 99;
    backdrop-filter: blur(1px); 
  }

.user-profile-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: visible; 
}

.close-button {
    display: flex;
    color: #9ca3af; 
    font-weight: bold; 
    align-self: flex-end; 
    background: none;
    border: none;
    cursor: pointer;
}

.user-profile-picture-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1rem;
}

.user-profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s;
}

.user-profile-picture.hovered {
    filter: brightness(0.7);
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: wheat
    
}

.user-profile-picture-container:hover .edit-icon {
    display: block;
}

.edit-options {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    z-index: 10001;
}

.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-list li {
    cursor: pointer;
    padding: 0.5rem;
}

.options-list li:hover {
    background-color: #f0f0f0;
    border-radius: 0.25rem;
}

.user-profile-details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.name-edit-icon {
    margin-left: 0.5rem;
    cursor: pointer;
}

.name-edit-field {
    display: flex;
    align-items: center;
  }
  
  .name-edit-field input {
    padding: 8px; 
    flex: 1; 
  }
  
  .name-save-icon {
    cursor: pointer;
    margin-left: 8px;;
    font-size:xx-large;
  }


.user-profile-phone {
  margin-top: 16px;
  font-size: 0.875rem;
  ;
}

.user-profile-phone p {
    font-size: 14px; 
    color: #555; 
    margin-bottom: 4px; 
    margin-right: 10px;
  }

.user-profile-phone-number {
  display: flex;
  align-items: center;
}

.phone-number-display {
  display: flex;
  align-items: center;
  font-size: 15px; 
  font-weight: 500;
}

.number-save-icon {
    cursor: pointer;
    margin-left: 8px;;
    font-size:x-large;
}


.number-edit-icon {
  margin-left: 8px;
  cursor: pointer;
}


.card {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    display: "flex";
    align-items: "center";
    justify-content: "center";
}


@media (max-width: 700px) {
    .contact-name{
        display: none;
    }
    .logout-button{
        width: auto;
    }
}